input{
    width: 50%;
    font-size: 3rem;
    color: rgb(230, 150, 30);
    background-color: rgba(96, 99, 99, 0);
    border: none;
    outline:none;
    box-shadow: 0 1px 0 rgb(230, 150, 30);
}

label{
    color:rgba(211, 211, 211);
    display: block;
    font-size: 3rem;
    font-weight: bold;
    animation-name:fade ;
    animation-duration: 0.5s;
    
    
    
}

@keyframes fade{
    from{
        opacity: 0;
        transform:translateY(100%)
    }to{
        opacity: 1;
        transform:translateY(0)
    }
}
